<h1>Welcome to BrightHub</h1>
<% if current_user %>
  <h2> Hello <%= current_user.name %> !</h2>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Sign in with GitHub", "/auth/github" %>
<% end %>
